/* General styles begin */

/* ----------------------------------------------- */

/* BASIC SETUP begin */

/* ----------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* ----------------------------------------------- */

/* BASIC SETUP end */

/* ----------------------------------------------- */

/* Font Begin */

@font-face {
  font-family: hero-font;
  src: url(/vendor/font/Viaoda_Libre/ViaodaLibre-Regular.ttf);
}

@font-face {
  font-family: basic-font;
  src: url(/vendor/font/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: meta-font;
  src: url(/vendor/font/Roboto/Roboto-BoldItalic.ttf);
}

h1 {
  font-family: hero-font;
  text-transform: capitalize;
  font-size: 20px;
  color: #ffffff;
}

@media (min-width: 550px) {
  h1 {
    font-size: 45px;
  }
}

h2 {
  font-family: basic-font;
  text-transform: capitalize;
  font-size: 16px;
  color: #80b435;
}

@media (min-width: 800px) {
  h2 {
    font-size: 25px;
  }
}

h6 {
  font-family: basic-font;
  text-transform: capitalize;
  font-size: 12px;
  color: #80b435;
}

@media (min-width: 800px) {
  h6 {
    font-size: 18px;
  }
}

#meta-data {
  font-family: meta-font;
  text-transform: capitalize;
  font-size: 11px;
  color: #405a1a;
}

@media (min-width: 800px) {
  #meta-data {
    font-size: 13px;
  }
}

p {
  font-family: basic-font;
  font-size: 14px;
  line-height: 1.6;
  color: #545454;
}

@media (min-width: 800px) {
  p {
    font-size: 16px;
  }
}

/* Font End */

/* General styles end */

/* header styles start */

/* Navbar styles begin*/

.navbar-brand {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

#nav-logo {
  display: block;
  margin: auto;
}

/* navbar-nav and nav-item begin */

@media (min-width: 768px) {
  .navbar-expand-lg .navbar-nav {
    margin-top: 150px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-41%, -50%);
  }

  #navbarNav > ul > li {
    padding-right: 90px;
    text-align: inherit;
  }
}

/* navbar-nav and nav-item end */

.navbar-nav {
  padding-top: 10px;
}

.nav-item {
  padding-right: 0px;
  text-align: center;
}

.navbar-toggler {
  margin-top: 120px;
}

/* Overrirden bootstrap styles begin */

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #80b435;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #80b435;
}

.navbar-light .navbar-nav .nav-link {
  color: #545454;
}

/* Overrirden bootstrap styles begin */

/* Navbar styles end*/

/* header styles End */

.hero-banner {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hero-banner__overlay__darker {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
}

.hero-banner__overlay__lighter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
}

.hero-banner__overlay {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.hero-banner__overlay-image {
  position: relative;
  display: block;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.hero-banner__title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
}

/* footer styles begin */

@media (min-width: 800px) {
  #login-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

footer {
  background-color: #e8e8e8;
  min-height: 280px;
}

.footer-nav {
  text-align: center;
}

.footer-nav__logo {
  display: block;
  margin: auto;
}

.footer-nav__lists {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 3rem 3rem auto;
}

@media (min-width: 800px) {
  .footer-nav__lists {
    flex-direction: row;
  }
}

.footer-nav__list {
  margin-top: 10px;
}

@media (min-width: 800px) {
  .footer-nav__list {
    margin: 0 10px;
  }
}

.footer-nav__link {
  text-decoration: none;
  color: #545454;
  text-transform: uppercase;
  font-size: 14px;
}

.footer-nav__link:hover {
  color: #80b435;
}

.footer-nav__copy {
  display: block;
  font-family: basic-font;
  text-transform: capitalize;
  font-size: 11px;
  color: #545454;
  padding-bottom: 20px;
}

/* footer styles end */

.wrapper {
  overflow: hidden;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper--medium {
  max-width: 1060px;
}

@media (min-width: 550px) {
  .wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1236px;
  }
}

.wrapper--narrow {
  max-width: 1000px;
}

.wrapper--narrow__height {
  padding-top: 14vh;
}

@media (min-width: 550px) {
  .wrapper--narrow__height {
    padding-top: 20vh;
  }
}

.post-list__image {
  padding-top: 10px;
  max-width: 80%;
  height: auto;
}

@media (min-width: 550px) {
  .post-list__image {
    padding-top: 0;
  }
}

.input-group-addon {
  overflow: hidden;
  background-color: #e9e9e9;
}

.input-group-addon input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */

@media screen and (max-width: 600px) {
  .input-group-addon input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .input-group-addon input[type=text] {
    border: 1px solid #ccc;
  }
}

#pagination-list {
  display: flex;
  justify-content: center;
}

.page-link {
  color: #80b435;
}

.page-link:hover {
  color: #545454;
}

.page-item.active .page-link {
  background-color: #80b435;
  border-color: #80b435;
}

.btn {
  font-family: basic-font;
  font-size: 12px;
  text-transform: capitalize;
  background-color: #80b435;
  display: inline-block;
  padding: 5px 14px;
  font-weight: 300;
  border-radius: 5px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  color: #ffffff;
}

@media (min-width: 800px) {
  .btn {
    font-size: 14px;
  }
}

.btn:hover {
  background-color: #405a1a;
  color: #ffffff;
}

.btn a {
  color: #ffffff;
  text-decoration: none;
}

textarea.form-control {
  min-height: 15em;
}

.login-form {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

