.btn {
  font-family: basic-font;
  font-size: 12px;
  text-transform: capitalize;
  background-color: $light-green;
  display: inline-block;
  padding: 5px 14px;
  font-weight: 300;
  border-radius: 5px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  color: $text-white;
  @include atMedium {
    font-size: 14px;
  }
  &:hover {
    background-color: #405a1a;
    color: $text-white;
  }
  a {
    color: $text-white;
    text-decoration: none;
  }
}
