.hero-banner {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  &__overlay__darker {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
  }

  &__overlay__lighter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
  }

  &__overlay {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));

    &-image {
      position: relative;
      display: block;
      z-index: -1;
      margin-left: auto;
      margin-right: auto;
      width: 100%; 
      height: 269px; 
      object-fit:cover;
    }
  }

  &__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
  }
}
